<script>
  $("#themdaotao").click(function () {
    $('#daotao').append(
      '<div class="card dao-tao radius-16"> <div class="card-header"> <button class="btn btn-link float-left" style="font-size: 15px" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-daotao float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-md-6"> <div class="form-group"> <label for="">Tên trường</label> <input id="truongdaotao" type="text" class="text form-control" placeholder=""> </div> <div class="row"> <div class="col-sm-12"> <div class="form-group"> <label for="">Từ ngày</label> <div class="row "> <div class="col-sm-12"> <input id="ngaydaotao" type="text" class="text form-control" placeholder=""> </div> </div> </div> </div> </div> <div class="form-group"> <label for="">Văn bằng, chứng chỉ, trình độ gì</label> <input id="vanbangdaotao" type="text" class="form-control" placeholder="TSKH, TS, Ths, Cử nhân, Kỹ sư ..."> </div> </div> <div class="col-md-6"> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Chuyên ngành đào tạo, bồi dưỡng</label> <div class="col-sm-12"> <input id="chuyenmondaotao" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="col-sm-12"> <div class="form-group"> <label for="">Đến ngày</label> <div class="row "> <div class="col-sm-12"> <input id="ngayhetdaotao" type="text" class="text form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Hình thức đào tạo</label> <div class="col-sm-12"> <input id="hinhthucdaotao" type="text" class="form-control" placeholder="Chính quy, tại chức, chuyên tu, bồi dưỡng ..."> </div> </div> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themdaotao").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themphucap").click(function () {
    $('#phucap').append(
      '<div class="card phu-cap radius-16"> <div class="card-header"> <button class="btn btn-link xoa-phucap float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="row"> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Tên phụ cấp</label> <div class="col-sm-12"> <input id="phucap" type="text" class="form-control " placeholder=""> </div> </div> </div> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-6 control-label">Số tiền</label> <div class="col-sm-12"> <input id="phucapkhac" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themphucap").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themcongtac").click(function () {
    $('#congtac').append(
      '<div class="card cong-tac radius-16"> <div class="card-header"> <button class="btn btn-link float-left" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-congtac float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-md-12"> <div class="row"> <div class="col-sm-6"> <div class="form-group"> <label for="">Từ ngày</label> <div class="row "> <div class="col-sm-12"> <input id="ngaycongtac" type="date" class="text form-control" placeholder=""> </div> </div> </div> </div> <div class="col-sm-6"> <div class="form-group"> <label for="">Đến ngày</label> <div class="row "> <div class="col-sm-12"> <input id="ngayhetcongtac" type="date" class="text form-control" placeholder=""> </div> </div> </div> </div> </div> <div class="row"> <div class="col-sm-12"> <div class="form-group"> <label for=""> <p>Chức danh, chức vụ, đơn vị công tác (đảng, chính quyền, đoàn thể, tổ chức xã hội), kể cả thời gian được đào tạo, bồi dưỡng về chuyên môn, nghiệp vụ,......</p> </label> <textarea id="chucdanhCT" class="form-control text " rows="2" placeholder=""></textarea> </div> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themcongtac").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themgiaiphap").click(function () {
    $('#giaiphap').append(
      '<div class="card giai-phap radius-16"> <div class="card-header"> <button class="btn btn-link xoa-giaiphap float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-lg-2"> <div class="col-lg-12 form-group"> <label for="" class="control-label"> <p style="margin-bottom: 0px; margin-top: 0px">Năm</p> </label> <select id="namgiaiphap" class="text custom-select form-control"> <option value=""></option> <%for( let i = timeYear; i >= 1975; i -- ) {%> <option value="<%- i %>"> <%- i %> </option> <%}%> </select> </div> </div> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Loại đề tài</label> <div class="col-sm-12"> <input id="loaiDetai" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-3"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Xếp loại</label> <div class="col-sm-12"> <input id="xepLoai" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-3"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Cấp</label> <div class="col-sm-12"> <input id="cap" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Đề tài sáng kiến, giải pháp</label> <div class="col-sm-12"> <input id="deTai" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Ghi chú</label> <div class="col-lg-12"> <textarea id="ghiChu" type="text" class="form-control text" rows="2"></textarea> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themgiaiphap").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themqtluong").click(function () {
    $('#qtluong').append(
      '<div class="card qt-luong radius-16"> <div class="card-header"> <button class="btn btn-link float-left" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-qtluong float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-md-12"> <div class="row "> <div class="col-lg-3"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Ngày hưởng </label> <input id="ngayluong" type="date" class="form-control" placeholder=""> </div> </div> <div class="col-lg-5"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Tên ngạch(mã ngạch)</label> <div class="col-sm-12"> <input id="mangachwage" type="text" class="form-control " placeholder="Chuyên viên cao cấp (01.001)"> </div> </div> </div> <div class="col-lg-2"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Bậc</label> <div class="col-sm-12"> <input id="bacwage" type="text" class="form-control " placeholder=""> </div> </div> </div> <div class="col-lg-2"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Hệ số lương</label> <div class="col-sm-12"> <input id="hesowage" type="text" class="form-control " placeholder=""> </div> </div> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themqtluong").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themkhenthuong").click(function () {
    $('#khenthuong').append(
      '<div class="card khen-thuong radius-16"> <div class="card-header"> <button class="btn btn-link float-left" style="font-size: 15px" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-khenthuong float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Số quyết định</label> <div class="col-sm-12"> <input id="soKT" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Ngày quyết định</label> <div class="col-sm-12"> <input id="ngayKT" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Cấp quyết định</label> <div class="col-sm-12"> <input id="capKT" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Danh hiệu</label> <div class="col-sm-12"> <input id="danhHieuKT" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Hình thức khen thưởng</label> <div class="col-sm-12"> <input id="hinhThucKT" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Thành tích đạt được</label> <div class="col-lg-12"> <textarea id="thanhTichKT" type="text" class="form-control text" rows="2"></textarea> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themkhenthuong").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themkiluat").click(function () {
    $('#kiluat').append(
      '<div class="card ki-luat radius-16"> <div class="card-header"> <button class="btn btn-link float-left" style="font-size: 15px" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-kiluat float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Số quyết định</label> <div class="col-sm-12"> <input id="soKL" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Ngày hiệu lực</label> <div class="col-sm-12"> <input id="ngayKL" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-4"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Ngày hết hiệu lực</label> <div class="col-sm-12"> <input id="ngayhetKL" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Cấp kỉ luật</label> <div class="col-sm-12"> <input id="capKL" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-6"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Hình thức kỉ luật</label> <div class="col-sm-12"> <input id="hinhThucKL" type="text" class="form-control" placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Lý do</label> <div class="col-lg-12"> <textarea id="lyDoKL" type="text" class="form-control text" rows="2"></textarea> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themkiluat").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#themvochong").click(function () {
    $('#vochong').append(
      '<div class="card vo-chong radius-16"> <div class="card-header"> <button class="btn btn-link float-left" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-vochong float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-sm-6"> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Mối quan hệ</label> <div class="col-sm-12"> <input id="moiQHkhac" type="text" class="form-control " placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-8"> <div class="form-group"> <label for="" class="col-sm-12 control-label" style="margin-bottom: 15px">Họ và tên</label> <div class="col-sm-12"> <input id="tenQHkhac" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-sm-4"> <div class="col-sm-12"> <label for="" class="col-sm-12 control-label"> <p style="margin-bottom: 0px">Năm sinh</p> </label> <select id="namsinhQHkhac" class="text custom-select form-control"> <option value="">Năm</option> <%for( let i = 1900; i <= timeYear; i ++ ) {%> <option value="<%- i %>"> <%- i %> </option> <%}%> </select> </div> </div> </div> </div> <div class="col-sm-6"> <div class="row"> <div class="col-sm-12"> <div class="form-group"> <label for="">Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở (trong, ngoài nước); thành viên các tổ chức chính trị - xã hội ...)</label> <textarea id="mieutaQHkhac" class="form-control text " rows="4" placeholder=""></textarea> </div> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#themvochong").parent().siblings().children().last().prev().offset().top
    }, 500);
  });

  $("#thembanthan").click(function () {
    $('#banthan').append(
      '<div class="card ban-than radius-16"> <div class="card-header"> <button class="btn btn-link float-left" type="button" data-toggle="collapse-next"> <i class="fa fa-align-justify"></i> </button> <button class="btn btn-link xoa-banthan float-right" type="button"> <i class="fa fa-times"></i> </button> </div> <div class="card-body p-20"> <div class="row"> <div class="col-sm-6"> <div class="row"> <div class="col-lg-12"> <div class="form-group"> <label for="" class="col-sm-12 control-label">Mối quan hệ</label> <div class="col-sm-12"> <input id="moiQH" type="text" class="form-control " placeholder=""> </div> </div> </div> </div> <div class="row"> <div class="col-lg-8"> <div class="form-group"> <label for="" class="col-sm-12 control-label" style="margin-bottom: 15px">Họ và tên</label> <div class="col-sm-12"> <input id="tenQH" type="text" class="form-control" placeholder=""> </div> </div> </div> <div class="col-lg-4"> <div class="col-lg-12"> <label for="" class="col-sm-12 control-label"> <p style="margin-bottom: 0px">Năm sinh</p> </label> <select id="namsinhQH" class="text custom-select form-control"> <option value="">Năm</option> <% for( let i = 1900; i <= timeYear; i ++ ) {%> <option value="<%- i %>"> <%- i %> </option> <%}%> </select> </div> </div> </div> </div> <div class="col-sm-6"> <div class="row"> <div class="col-sm-12"> <div class="form-group"> <label for="">Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở (trong, ngoài nước); thành viên các tổ chức chính trị - xã hội ...)</label> <textarea id="mieutaQH" class="form-control text " rows="4" placeholder=""></textarea> </div> </div> </div> </div> </div> </div> </div>'
    );
    $('html').animate({
      scrollTop: $("#thembanthan").parent().siblings().children().last().prev().offset().top
    }, 500);
  });


  $(document).on('click', 'button.xoa-daotao', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-phucap', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-congtac', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-vochong', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-banthan', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-qtluong', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-giaiphap', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-khenthuong', function () {
    $(this).parent().parent().remove();
  });

  $(document).on('click', 'button.xoa-kiluat', function () {
    $(this).parent().parent().remove();
  });

  // Get luong, he so

  window.onload = function getMaNgach() {

    $('#mangach').empty();
    $('#mangach').append('<option value=""></option>');
    $.ajax({
      url: `/he-thong/luong/list`,
      method: "GET",
      success: function (result) {
        if (result.success == true) {
          result.data.map((item, index) => {
            $('#mangach').append(
              '<option value="' + item._id + '">' + item.maNgach + '</option>'
            )
          })
        }
      }
    })
  }


  $('#mangach').change(function () {
    var selectMangach = $('#mangach').val();
    $('#bacluong').empty();
    $('#heso').empty();
    $('#bacluong').append('<option value=""></option>');
    $.ajax({
      url: `/he-thong/luong/list`,
      method: 'GET',
      success: function (result) {
        result.data.map(item => {
          if (item._id === selectMangach) {
            item.bacHeso.map(item1 => {
              if (item1.heso != "") {
                $('#bacluong').append('<option value="' + item1.bac + '">' + item1.bac +
                  '</option>')
              }
            })
          }
        })
      }
    })
  })

  $('#bacluong').change(function () {
    $('#heso').empty();
    var selectMangach = $('#mangach').val();
    var selectBac = $('#bacluong').val();

    $.ajax({
      url: `/he-thong/luong/list`,
      method: 'GET',
      success: function (result) {
        result.data.map(item2 => {
          if (item2._id === selectMangach) {
            item2.bacHeso.map(item3 => {
              if (selectBac == item3.bac) {
                $('#heso').append('<option value="' +
                  item3.heso + '">' + item3.heso +
                  '</option>')
              }
            })
          }
        })
      }
    })
  })


  // Submit button
  $(document).on('click', '#create-button', function (e) {
    validateInput(function (flag) {
      if (!flag) {
        alert('Vui lòng nhập đủ thông tin !')
      } else {


        var arrayWorkingProccess = [];
        $('div.cong-tac').each(function (index, val) {
          arrayWorkingProccess.push({
            fromDate: $(this).find('#ngaycongtac').val(),
            toDate: $(this).find('#ngayhetcongtac').val(),
            description: $(this).find('#chucdanhCT').val(),
          });
        })

        var arrayAboutMyself = [];
        $('div.ban-than').each(function (index, val) {
          arrayAboutMyself.push({
            type: $(this).find('#moiQH').val(),
            name: $(this).find('#tenQH').val(),
            birthday: $(this).find('#namsinhQH').val(),
            description: $(this).find('#mieutaQH').val(),
          });
        })

        var arrayAboutOther = [];
        $('div.vo-chong').each(function (index, val) {
          arrayAboutOther.push({
            type: $(this).find('#moiQHkhac').val(),
            name: $(this).find('#tenQHkhac').val(),
            birthday: $(this).find('#namsinhQHkhac').val(),
            description: $(this).find('#mieutaQHkhac').val(),
          });
        })

        var arrayWageMovements = [];
        $('div.qt-luong').each(function (index, val) {
          arrayWageMovements.push({
            date: $(this).find('#ngayluong').val(),
            salaryLevel: $(this).find('#bacwage').val(),
            scaleCode: $(this).find('#mangachwage').val(),
            coefficient: $(this).find('#hesowage').val(),
          });
        })

        var placeBirth1 = {};
        placeBirth1 = {
          commune: $('#noisinhXa').val(),
          district: $('#noisinhHuyen').val(),
          province: $('#noisinhTinh').val()
        }

        var hometown1 = {};
        hometown1 = {
          commune: $('#quequanXa').val(),
          district: $('#quequanHuyen').val(),
          province: $('#quequanTinh').val()
        }

        var educationLevel1 = {};
        educationLevel1 = {
          generalEducationLevel: {
            whichClass: $('#trinhdoGD').val(),
          },
          highestProfessionalQualification: $("trinhdoCM").val(),
          politicalTheory: $("lyluanCT").val(),
          stateManagement: $("quanlinhanuoc").val(),
          languageLevel: {
            language: $('#ngoaingu').val(),
            level: $('#trinhDoNN').val(),
            description: $('#moTaNN').val(),
          },
          computerSkill: {
            level: $('#tinhoc').val(),
            description: $('#moTaTH').val(),
          }
        }

        var laDangVien = $('#laDangVien:checkbox:checked').val();
        if (laDangVien == undefined) {
          laDangVien = "0"
        }

        var communist1 = {};
        communist1 = {
          dateIn: $('#ngayvaoDang').val(),
          officalDate: $('#ngayvaoDangCT').val(),
          number: $('#soTheDang').val(),
          yes: laDangVien,
        }

        var laDoanVien = $('#laDoanVien:checkbox:checked').val();
        if (laDoanVien == undefined) {
          laDoanVien = "0"
        }

        var youthUnion1 = {};
        youthUnion1 = {
          dateIn: $('#ngayvaoDoan').val(),
          yes: laDoanVien,
        }

        var cuuNV = $('#cuuNhanVien:checkbox:checked').val();
        if (cuuNV == undefined) {
          cuuNV = "0"
        }

        var ngayThamGiaToChucCTXH1 = [];
        ngayThamGiaToChucCTXH1.push({
          name: $('#TCCTXH').val(),
          dateIn: $('#ngaythamgiaTCCTXH').val(),
        })

        var army1 = {};
        army1 = {
          dateIn: $('#ngaynhapngu').val(),
          dateOut: $('#ngayxuatngu').val(),
          rank: $('#quanham').val(),
          highestAward: $('#danhhieu').val(),
        }

        var health1 = {};
        health1 = {
          status: $('#suckhoe').val(),
          heigth: $('#chieucao').val(),
          weight: $('#cannang').val(),
          bloodGroup: $('#nhommau').val(),
        }

        var IDCard1 = {};
        IDCard1 = {
          number: $('#cmnd').val(),
          dateRange: $('#ngaycapcmnd').val(),
        }

        var personalHistory1 = [];
        personalHistory1 = [{
          question1: $('#question1').val(),
          question2: $('#question2').val(),
          question3: $('#question3').val(),
        }]

        var veterans1 = {};
        veterans1 = {
          type: $('#thuongbinh').val(),
        }

        var familyRelationship1 = {};
        familyRelationship1 = {
          aboutMyself: arrayAboutMyself,
          aboutOther: arrayAboutOther,
        }




        var data = {
          email: $('#email').val(),
          password: $('#password').val(),
          usersCardNumber: $('#textSoHieu').val(),
          name: $('#textTen').val(),
          phoneNumber: $('#phoneNumber').val(),
          nickName: $('#textTenKhac').val(),
          birthday: $('#ngaysinh').val(),
          gender: $('#gioitinh').val(),
          placeBirth: JSON.stringify(placeBirth1),
          hometown: JSON.stringify(hometown1),
          nation: document.getElementById("dantoc1").value,
          religion: document.getElementById("tongiao1").value,
          registeredPermanentResidence: $('#HoKhau').val(),
          registeredTemporaryResidence: $('#Address').val(),
          occupationƯwhenRecruited: $('#nghenghiepTD').val(),
          recruitmentDay: $('#ngayTD').val(),
          employmentAgency: $('#coquanTDtruoc').val(),
          // currentPosition: $('#chucvuHT').val(),
          mainJob: $('#cvchinh').val(),
          scaleOfCivilServant: $('#ngach').val(),
          // salaryLevel: $('#bacluong').val(),
          // scaleCode: $('#mangach').val(),
          // coefficient: $('#heso').val(),
          payday: $('#ngayhuong').val(),
          // fringeBenefits: $('#phucap').val(),
          // otherFringeBenefits: $('#phucapkhac').val(),
          educationLevel: JSON.stringify(educationLevel1),
          communist: JSON.stringify(communist1),
          youthUnion: JSON.stringify(youthUnion1),
          ngayThamGiaToChucCTXH: JSON.stringify(ngayThamGiaToChucCTXH1),
          army: JSON.stringify(army1),
          forte: $('#sotruong').val(),

          health: JSON.stringify(health1),
          IDCard: JSON.stringify(IDCard1),
          socialInsuranceNumber: $('#bhxh').val(),
          veterans: JSON.stringify(veterans1),
          familyPolicy: $('#conlietsi').val(),
          evaluate: $('#nhanxet').val(),
          personalHistory: JSON.stringify(personalHistory1),
          // course: JSON.stringify(arrayCourses),
          workingProccess: JSON.stringify(arrayWorkingProccess),
          familyRelationship: JSON.stringify(familyRelationship1),
          wageMovements: JSON.stringify(arrayWageMovements),
          cuuNhanVien: cuuNV
        }
        $.ajax({
          url: '/quan-ly/tao-ho-so',
          type: 'POST',
          dataType: 'json',
          data: data,
          success: function (res) {
            if (res) {

              var arrayPhucap = [];
              $('div.phu-cap').each(function (index, val) {
                arrayPhucap.push({
                  moTa: $(this).find('#phucap').val(),
                  soTien: $(this).find('#phucapkhac').val()
                });
              })

              var luong = {
                user: res.data._id,
                bacHeso: $('#bacluong').val(),
                ngach: $('#mangach').val(),
                phuCap: JSON.stringify(arrayPhucap)
              }

              $.ajax({
                url: '/quan-ly/luong-phu-cap/them',
                type: 'POST',
                dataType: 'json',
                data: luong,
                success: function (res) {}
              });

              $('div.dao-tao').each(function (index, val) {

                var daotao = {
                  users: JSON.stringify([res.data._id]),
                  diaDiem: $(this).find('#truongdaotao').val(),
                  noiDung: $(this).find('#chuyenmondaotao').val(),
                  ngayBatDau: $(this).find('#ngaydaotao').val(),
                  ngayKetThuc: $(this).find('#ngayhetdaotao').val(),
                  hinhThuc: $(this).find('#hinhthucdaotao').val(),
                  trinhDo: $(this).find('#vanbangdaotao').val(),
                  confirmed: "1"
                }
                $.ajax({
                  url: '/quan-ly/dao-tao/them',
                  type: 'POST',
                  dataType: 'json',
                  data: daotao,
                  success: function (res) {

                  }
                });

              })
              $('div.khen-thuong').each(function (index, val) {
                var khenthuong = {
                  users: JSON.stringify([res.data._id]),
                  quyetDinh: JSON.stringify({
                    org: $(this).find('#capKT').val(),
                    number: $(this).find('#soKT').val(),
                    date: $(this).find('#ngayKT').val(),
                  }),
                  title: $(this).find('#danhHieuKT').val(),
                  format: $(this).find('#hinhThucKT').val(),
                  description: $(this).find('#thanhTichKT').val(),
                  confirmed: "1"
                }
                $.ajax({
                  url: '/quan-ly/khen-thuong-ky-luat/awards/them',
                  type: 'POST',
                  dataType: 'json',
                  data: khenthuong,
                  success: function (res) {

                  }
                });

              })

              $('div.ki-luat').each(function (index, val) {
                var kiluat = {
                  users: JSON.stringify([res.data._id]),
                  quyetDinh: JSON.stringify({
                    org: $(this).find('#capKL').val(),
                    number: $(this).find('#soKL').val(),
                    startedDate: $(this).find('#ngayKL').val(),
                    endedDate: $(this).find('#ngayhetKL').val(),
                  }),
                  format: $(this).find('#hinhThucKL').val(),
                  description: $(this).find('#lyDoKL').val(),
                  confirmed: "1"
                }
                $.ajax({
                  url: '/quan-ly/khen-thuong-ky-luat/discipline/them',
                  type: 'POST',
                  dataType: 'json',
                  data: kiluat,
                  success: function (res) {}
                });

              })

              $('div.giai-phap').each(function (index, val) {
                var giaiphap = {
                  users: JSON.stringify([res.data._id]),
                  nam: $(this).find('#namgiaiphap').val(),
                  loai: $(this).find('#loaiDetai').val(),
                  xepLoai: $(this).find('#xepLoai').val(),
                  cap: $(this).find('#cap').val(),
                  ten: $(this).find('#deTai').val(),
                  ghiChu: $(this).find('#ghiChu').val(),
                  confirmed: "1"
                }
                $.ajax({
                  url: '/quan-ly/giai-phap-sang-kien/them',
                  type: 'POST',
                  dataType: 'json',
                  data: giaiphap,
                  success: function (res) {

                  }
                });

              })
              alert("Tạo thành công");
              window.location.replace("/quan-ly/danh-sach-nhan-su");
            }
          }
        })
      }
    })
  });


  // Kiểm tra các fiedl
  function validateInput(callback) {
    let flag = true;
    $('input, textarea, select').filter('[required]:visible').each(function (index, val) {
      let _this = this;
      if ($(this).val() == '') {
        flag = false;
        makeInputDanger(_this);
      }
    })
    callback(flag);
  }
  // báo hiệu các field chưa nhập
  $(document).on('focusout', 'input.required, textarea.required, select.required',
    function () {
      if ($(this).val() == "") {
        makeInputDanger(this);
      } else {
        makeInputDefault(this);
      }
    })

  $(document).on('click', '[data-toggle=collapse-next]', function () {
    var $target = $(this).parent().next()
    $target.collapse('toggle');
  });
</script>